@import './theme.css';

* {
    margin: 0;
    padding: 0;
    font-weight: 500;
    box-sizing: border-box;
}

.container {
    height: 600px;
    width: 400px;
    background-color: var(--siyah);
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
}

/* .ekran { */
    /* height:165px; */
    /* width:340px; */
    /* margin: auto; */
    /* font-size: 50px; */
    /* padding: 20px; */
/*      */
/* } */


.ekran {
    width: 320px;
    height: 120px;
    border: 2px solid black;
    background-color: grey;
    border-radius: 5px;
    margin: 1rem 0 2rem 1.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .result {
    /* border: 2px solid red; */
    height: 60px;
    font-size: 1.5rem;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
  }
  #operation {
    /* border: 2px solid blue; */
    height: 60px;
    font-size: 2rem;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

.tuslar {
    display: grid;
    grid-template-columns: repeat(4, 72.5px);
    grid-template-rows: repeat(5, 72.5px);
    color: var(--tuscolor);
    gap: 10px;
    justify-content: center;
    margin-bottom: 15px;
    text-align: center;

}

.tuslar button {
    background-color: var(--tusbcgsayi);
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
.tuslar button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.row1 button, .row2 button, .row3 button{
    background-color: var(--tusbcgop);
    color: var(--siyah);
}

.row1 button, .row2 button, .row3 button, .row4 button {
    background-color: var(--tusbcgsari);
}

.row8 button, .row12 button, .row16 button, .row19 button {
    background-color: var(--tusbcgsari);
}


.tuslar .box button{
    width: 72.5px;
    height:72.5px;
    border-radius: 50%;
    font-size: 35px;
}

.container .tuslar .row17 {
    grid-row: 5/6;;
    grid-column: 1/3;
    /* width: 144px; */
}

.container .tuslar .row17 button{
    width:154px;
    border-radius: 36px;
    text-align: left;
    padding-left: 25px;
}












